@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #eeeeee;
    font-family: 'NanumBarunGothic', sans-serif;
    font-weight: bold;
}
.container{
    display: grid;
    border-bottom: 10px solid #123456;
    grid-template-columns: 200px 1fr 80px 80px;
}
.logo {
    padding: 20px;
}
.logo h1 {
    margin: 0;
    font-size: 40px;
    font-family: 'RixYeoljeongdo_Regular';
    margin: 0;
}
.logo a{
  color: #123456;
  text-decoration: none;
}
.menu ul {
    list-style:none;
    color: #123456;
}
.menu li {
    float: right;
    margin-right: 20px;
}
.menu_img {
  display: none;
}
.menu, .night_day, .search {
    padding-top: 20px;
    padding-bottom: 20px;
}
.night_day input, .search input {
    padding-top: 8px;
    display: block;
    margin: auto;
    width: 32px;
}

.main {
  margin: 0;
  padding: 20px;
}

@media (max-width:800px) {
  .container {
    grid-template-columns: 1fr 80px 80px 80px;
  }
  .menu_img {
    display: inline;
  }
  .menu_list {
    display: none;
  }
  .menu_img input {
    padding-top: 8px;
    display: block;
    margin: auto;
    width: 32px;
  }
}
